.job-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
  width: 90%;
  padding: 1rem;
  border-radius: 0.4rem 0 0 0.4rem;
  background-color: #FFF;
  list-style-type: none;
}

.left-side {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  padding-top: 2rem;
  position: relative;
}
.left-side .avatar {
  height: 4rem;
  width: 4rem;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: -15%;
  left: 0;
  transform: translateY(-50%);
}
.left-side .job-description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 0.5rem;
}
.left-side .job-description .agency-name {
  font-weight: 700;
  color: #68A79F;
}
.left-side .job-description .job-title {
  font-weight: 700;
  font-size: 1.1rem;
  cursor: pointer;
}
.left-side .job-description .job-title:hover {
  color: #68A79F;
}
.left-side .job-description .description-header,
.left-side .job-description .description-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0.8rem;
}
.left-side .job-description .description-header i,
.left-side .job-description .description-footer i {
  font-size: 0.3rem;
}
.left-side .job-description .description-footer * {
  font-size: 0.8rem;
  opacity: 0.5;
}

.right-side {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}
.right-side .qualifications {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;
}
.right-side .qualifications .qualification {
  border-radius: 0.5rem;
  cursor: pointer;
}
.right-side .qualifications .qualification:hover {
  background-color: #68A79F;
  color: #FFF;
}

.filter,
.qualification {
  background-color: hsl(180deg, 52%, 96%);
  padding: 0.3rem 0.6rem;
  border: 0;
  color: #68A79F;
  font-weight: 700;
}

.new,
.featured {
  padding: 0.3rem 0.6rem;
  border-radius: 0.7rem;
  font-size: 0.7rem;
  font-weight: 700;
  color: white;
}

.new {
  background-color: #68A79F;
}

.featured {
  background-color: black;
}

.highlight {
  border-left: 0.4rem solid #5CA8A6;
}

hr {
  display: block;
  width: 100%;
}

.filter-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  min-height: 5rem;
  padding: 1rem;
  background-color: #FFF;
  position: absolute;
  top: -6.5rem;
  left: 1;
  transform: translateY(-40%);
  opacity: 0;
}
.filter-container * {
  color: #5CA8A6;
  font-weight: 700;
}
.filter-container .clear {
  cursor: pointer;
}
.filter-container .clear:hover {
  text-decoration: underline;
}

.filter-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
}
.filter-list .filter-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.filter-list .filter-item .qualification {
  border-radius: 0.5rem 0 0 0.5rem;
}
.filter-list .filter-item .close {
  padding: 0.5rem;
  background-color: #5CA8A6;
  border: none;
  border-radius: 0 0.5rem 0.5rem 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.filter-list .filter-item .close:hover {
  background-color: black;
}

@media (min-width: 375px) {
  .filter-container {
    padding: 1.5rem 2.5rem;
    top: -5rem;
  }
  .filter-container .filter-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
  }
  .main .job-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }
  .job-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem;
  }
  .job-container hr {
    display: none;
  }
  .job-container .left-side {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0;
    width: 50%;
    position: static;
  }
  .job-container .left-side .avatar {
    position: static;
    background-position: center;
    transform: translateY(0);
  }
  .job-container .right-side {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 50%;
  }
  .job-container .right-side .qualifications {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 98vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 4rem;
  font-family: "Bai Jamjuree", sans-serif;
  font-size: 15px;
  font-weight: 500;
  overflow-x: hidden;
  background-color: #F0FAFB;
}
body .header {
  width: 100%;
  min-height: 9.5rem;
  background-color: #5CA8A6;
  background-image: url(../images/bg-header-desktop.svg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}
body .footer {
  font-size: 11px;
  text-align: center;
}
body .footer a {
  color: hsl(228deg, 45%, 44%);
}

.shadow {
  box-shadow: 5px 8px 12px 0px #b1e1e8;
  -webkit-box-shadow: 5px 8px 12px 0px #b1e1e8;
  -moz-box-shadow: 5px 8px 12px 0px #b1e1e8;
}

.main {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.job-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}/*# sourceMappingURL=main.css.map */