
$primary-color:#68A79F;
$darker-primary-color:#5CA8A6;
$lighter-primary-color:#F0FAFB;
$listing-color:#FFF;

$dark-cyan:hsl(180, 8%, 52%);
$very-dark-cyan:hsl(180, 14%, 20%);

$background-color:hsl(180, 52%, 96%);


$light-cyan:hsl(180, 31%, 95%);
$tablet-color:hsl(180, 31%, 95%);

