@use "./components/list-item";
@use "./components/filter";
@use "./variables" as var;
@use "./components/mixin" as *;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    @include flex(column, center, flex-start);
    gap: 4rem;
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 15px;
    font-weight: 500;

    overflow-x: hidden;

    background-color: var.$lighter-primary-color;
    .header {
        width: 100%;
        min-height: 9.5rem;
        background-color: var.$darker-primary-color;
        background-image: url(../images/bg-header-desktop.svg);
        background-position: top center;
        background-repeat: no-repeat;
        background-size:cover;

    }
    .main {
        width: 100%;
        height: auto;
        @include flex(column, center, center);
        position: relative;

        .job-list {
            width: 100%;
            @include flex(column, center, center);
            gap: 2rem;
        }
    }
    .footer {
        font-size: 11px; text-align: center;
        a {
            color: hsl(228, 45%, 44%);
        }
    }
}

.shadow {   
    box-shadow: 5px 8px 12px 0px var.$shadow-color;
-webkit-box-shadow: 5px 8px 12px 0px var.$shadow-color;
-moz-box-shadow: 5px 8px 12px 0px var.$shadow-color;
}


@media (max-width: 375px) {
    body {
        width: 98vw;
    }
    .main {
        .filter-container {
            font-size: 13px;
            padding: 1rem;
            height: auto;
            transform: translateY(-40%);
            .filter-list {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: .5rem;
            }
        }
    }
    #job-list {
        gap: 3rem;
        hr {
            display: block;
            width: 100%;
        }
    }
    .job-container {
        @include flex(column, flex-start, center);
        gap: 1rem;
        padding: 1rem;
        width: 90%;

        .left-side {
            @include flex(column, flex-start, center);
            width: 100%;
            padding-top: 2rem;
            position: relative;
 
            .avatar {
                width: 4rem;
                height: 4rem;

                position: absolute;
                top: -15%;
                left: 0;
                transform: translateY(-50%);
                
            }
        }
        .right-side {
            width: 100%;
            justify-content: flex-start;
            .qualifications {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
            }
        }
    }
}

