@use "./components/list-item";
@use "./components/filter";
@use "./variables" as var;
@use "./components/mixin" as *;
@use "./components/media";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 98vw;
    
    @include flex(column, center, flex-start);
    gap: 4rem;
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 15px;
    font-weight: 500;

    overflow-x: hidden;

    background-color: var.$lighter-primary-color;
    .header {
        width: 100%;
        min-height: 9.5rem;
        background-color: var.$darker-primary-color;
        background-image: url(../images/bg-header-desktop.svg);
        background-position: top center;
        background-repeat: no-repeat;
        background-size:cover;

    }

    .footer {
        font-size: 11px; text-align: center;
        a {
            color: hsl(228, 45%, 44%);
        }
    }
}

.shadow {   
    box-shadow: 5px 8px 12px 0px var.$shadow-color;
    -webkit-box-shadow: 5px 8px 12px 0px var.$shadow-color;
    -moz-box-shadow: 5px 8px 12px 0px var.$shadow-color;
}
.main {
    width: 100%;
    height: auto;
    @include flex(column, center, center);
    position: relative;
}

.job-list {
    width: 100%;
    @include flex(column, center, center);
    gap: 3rem;
}


