@use "./mixin" as *;



@media (min-width: 375px) { 

    .filter-container {
        padding: 1.5rem 2.5rem;
        top: -5rem;
        .filter-list {
            @include flex(row, center, flex-start);
            gap: 1rem;
        }
    }
    .main {
        .job-list {
            width: 100%;
            @include flex(column, center, center);
            gap: 2rem;
        }
    }
    .job-container {
        .left-side {
            @include flex(row, center, flex-start);
            padding: 0;
            position: static;
            .avatar {
                position: static;
                background-position: center;
                transform: translateY(0);
            }
        }
    }
}

@media (min-width: 500px) { 

    .job-container {
        .right-side {
            .qualifications {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                gap: 1rem;
            }
        }
    }
}

@media (min-width: 550px) { 

    .job-container {
        .right-side {
            .qualifications {
                @include flex(row, center, flex-start);
                gap: 1rem;
            }
        }
    }
}

@media (min-width: 800px) { 

    .job-container {
        @include flex(row, center, space-between);
        padding: 1.5rem;
        background-color: red;
        hr {
            display: none;
        }
        .left-side {
            width: 50%;
        }
        .right-side {
            @include flex(row, center, flex-end);
            width: 50%;
            .qualifications {
                @include flex(row, center, flex-start);
             
            }
        }
    }
}